[Desktop Entry]
MimeType=
Comment=Terminal emulator for X11
Comment[br]=Termenell X
Comment[ca]=Terminal X
Comment[cs]=Terminál pro X Window
Comment[de]=X-Terminal
Comment[es]=Emulador de terminal para X
Comment[fi]=X-Terminaali
Comment[fr]=Emulateur de terminal xterm
Comment[hu]=X terminál
Comment[is]=xterm:  X skjáhermir
Comment[it]=Terminale per X Window
Comment[nb]=X-terminal
Comment[pl]=Emulator terminala dla X11
Comment[pt]=Terminal X
Comment[pt_BR]=Terminal X
Comment[ro]=Terminal pentru X Window
Comment[ru]=Терминал для X Window
Comment[sk]=Terminál pre X Window
Comment[sl]=Terminalski emulator za X11
Name=XTerm
Exec=xterm -ls -ut
Icon=xterm
Type=Application
Terminal=false
Categories=TerminalEmulator;
# vi: encoding=utf-8
